go 1.26.5

use (
	./httpkit
	./cli/it
	./cli/src
	./common
	./event-gateway/gateway-builder
	./event-gateway/webhook-listener
	./event-gateway/gateway-runtime
	./event-gateway/it
	./gateway/gateway-builder
	./gateway/gateway-controller
	./gateway/gateway-runtime/policy-engine
	./gateway/it
	./gateway/sample-policies/transform-payload-case
	./gateway/system-policies/analytics
	./kubernetes/conformance/runner
	./kubernetes/gateway-operator
	./platform-api
	./portals/ai-workspace/bff
	./samples/sample-service
	./sdk/ai
	./sdk/core
	./tests/integration-e2e
	./tests/mock-servers/mock-platform-api
)
