go 1.26.1

use (
	./cli/it
	./cli/src
	./common
	./event-gateway/gateway-runtime
	./gateway/gateway-builder
	./gateway/gateway-controller
	./gateway/gateway-runtime/policy-engine
	./gateway/it
	./gateway/sample-policies/transform-payload-case
	./gateway/system-policies/analytics
	./platform-api/src
	./samples/sample-service
	./sdk/core
	./sdk/ai
	./tests/mock-servers/mock-platform-api
)
