{{#pageHead}}
<link rel="stylesheet" href="/technical-styles/settings.css">
{{/pageHead}}
{{#pageScripts}}
<script src='/technical-scripts/create-org.js' defer></script>
{{/pageScripts}}
<section>
    {{> edit-organization-form }}
    {{> alert }}
</section>