#
# Copyright (c) 2026, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#

openapi: 3.0.3
info:
  title: WSO2 API Developer Portal Core - Devportal Routes
  version: 1.0.0
  description: |
    Fine-grained Developer Portal API for managing organizations,
    API metadata and content, applications, subscriptions, application appKeyMappings, and API flows.

    Organization-scoped resources are served under `/devportal/v1`. Operations declare
    the least-privilege OAuth2 scopes required for each resource action.
servers:
  - url: https://devportal.api-platform.io
    description: Production
  - url: http://localhost:3000
    description: Local development server
  - url: https://localhost:{port}
    description: Local HTTPS server
    variables:
      port:
        default: "9443"
tags:
  - name: Organizations
  - name: Organization Content
  - name: APIs
  - name: API Content
  - name: Subscription Plans
  - name: Labels
  - name: Applications
  - name: Subscriptions
  - name: API Keys
  - name: Views
  - name: Application Keys
  - name: API Flows
  - name: Utilities
  - name: Authentication
  - name: Key Managers
  - name: Webhook Events
  - name: Webhook Subscribers
paths:
  /organizations:
    post:
      tags:
        - Organizations
      summary: Create an organization
      description: >-
        Creates a Developer Portal organization and initializes its default portal configuration, default label, default
        view, and default subscription plans when configured.
      operationId: createOrganization
      requestBody:
        $ref: "#/components/requestBodies/OrganizationCreateBody"
      responses:
        "201":
          description: Organization created successfully.
          headers:
            Location:
              description: URL of the created organization.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_create
            - dp:org_manage
    get:
      tags:
        - Organizations
      summary: List organizations
      description: Returns all Developer Portal organizations visible to the admin context.
      operationId: getOrganizations
      responses:
        "200":
          $ref: "#/components/responses/OrganizationListResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_read
            - dp:org_manage
  /organizations/{orgId}:
    parameters:
      - $ref: "#/components/parameters/orgId"
    put:
      tags:
        - Organizations
      summary: Update an organization
      description: Updates organization metadata, claim mappings, role mappings, and portal configuration.
      operationId: updateOrganization
      requestBody:
        $ref: "#/components/requestBodies/OrganizationUpdateBody"
      responses:
        "200":
          $ref: "#/components/responses/OrganizationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_update
            - dp:org_manage
    get:
      tags:
        - Organizations
      summary: Get an organization
      description: >-
        Retrieves a single organization by organization ID, organization name, organization handle, or organization
        identifier.
      operationId: getOrganization
      responses:
        "200":
          $ref: "#/components/responses/OrganizationResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_read
            - dp:org_manage
    delete:
      tags:
        - Organizations
      summary: Delete an organization
      description: Deletes an organization and returns no response body when deletion succeeds.
      operationId: deleteOrganization
      responses:
        "204":
          description: Organization deleted successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_delete
            - dp:org_manage
  /devportal/v1/views/{viewName}/layout:
    parameters:
      - $ref: "#/components/parameters/viewName"
    post:
      tags:
        - Organization Content
      summary: Upload organization layout content
      description: >-
        Uploads a ZIP file containing organization layout assets for the selected view. The service extracts the
        archive, reads supported files, and stores each content item under the view.
      operationId: createOrgContent
      requestBody:
        $ref: "#/components/requestBodies/FileUploadBody"
      responses:
        "201":
          $ref: "#/components/responses/OrganizationContentUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_content_create
            - dp:org_content_manage
            - dp:org_manage
    put:
      tags:
        - Organization Content
      summary: Replace organization layout content
      description: >-
        Uploads a ZIP file and upserts the extracted organization layout assets for the selected view. Existing content
        records are updated and missing content records are created.
      operationId: updateOrgContent
      requestBody:
        $ref: "#/components/requestBodies/FileUploadBody"
      responses:
        "201":
          $ref: "#/components/responses/OrganizationContentUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_content_update
            - dp:org_content_manage
            - dp:org_manage
    get:
      tags:
        - Organization Content
      summary: Get a single organization layout asset
      description: >-
        Retrieves one organization layout asset when `fileType` and `fileName` are supplied as query parameters. The
        response content type is derived from the stored file type and extension.
      operationId: getOrgLayoutContent
      parameters:
        - $ref: "#/components/parameters/orgContentFileTypeQuery"
        - $ref: "#/components/parameters/orgContentFileNameQuery"
        - $ref: "#/components/parameters/filePathQuery"
      responses:
        "200":
          $ref: "#/components/responses/OrganizationContentAssetResponse"
        "400":
          $ref: "#/components/responses/TextMessageResponse"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
      security: []
    delete:
      tags:
        - Organization Content
      summary: Delete organization layout content
      description: >-
        Deletes all organization layout content for the selected view, or deletes one content item when `fileName` is
        supplied as a query parameter.
      operationId: deleteOrgContent
      parameters:
        - $ref: "#/components/parameters/fileNameQuery"
      responses:
        "204":
          description: Organization content deleted successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:org_content_delete
            - dp:org_content_manage
            - dp:org_manage
  /devportal/v1/views/{viewName}/layout/{fileType}:
    parameters:
      - $ref: "#/components/parameters/viewName"
      - $ref: "#/components/parameters/fileType"
    get:
      tags:
        - Organization Content
      summary: List organization layout assets by file type
      description: Returns all stored organization layout content records for the selected file type and view.
      operationId: getOrgLayoutContentByFileType
      security: []
      responses:
        "200":
          $ref: "#/components/responses/OrganizationContentListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
  /devportal/v1/apis:
    post:
      tags:
        - APIs
      summary: Create API metadata
      description: >-
        Creates Developer Portal API metadata from either a full API artifact ZIP, an API metadata YAML file (`api.yaml`
        / `devportal.yaml` / `mcp.yaml`), or an `apiMetadata` JSON string. An API definition file is required unless
        supplied by the artifact ZIP. The YAML `spec` block accepts: `displayName`, `version`, `description`, `type`,
        `status`, `agentVisibility`, `tags`, `labels`,
        `referenceId`, `endpoints` (sandboxUrl, productionUrl), `businessInformation` (owners), and `subscriptionPlans`.
        The service also stores labels, subscription plan mappings, image metadata, and schema definitions for MCP or
        GraphQL APIs when provided.

        `subscriptionPlans` links existing org-level plans to this API by name — it does not create plans. In YAML it is
        a string array (`["Gold", "Silver"]`). In the JSON `apiMetadata` field it is an object array where only
        `planName` is used (`[{"planName":"Gold"}]`); extra fields such as `planId`, `displayName`, or `requestCount`
        are ignored.
      operationId: createApiMetadata
      requestBody:
        $ref: "#/components/requestBodies/ApiMetadataMultipartBody"
      responses:
        "201":
          $ref: "#/components/responses/ApiMetadataCreateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_create
            - dp:api_manage
    get:
      tags:
        - APIs
      summary: List API metadata
      description: >-
        Lists API metadata for an organization. The service supports exact filters by API name, version, and tags,
        free-text search with `query`, and view filtering. Unknown query parameters are rejected.
      operationId: getAllApiMetadataForOrganization
      parameters:
        - $ref: "#/components/parameters/apiSearchQuery"
        - $ref: "#/components/parameters/apiNameQuery"
        - $ref: "#/components/parameters/apiVersionQuery"
        - $ref: "#/components/parameters/apiTagsQuery"
        - $ref: "#/components/parameters/apiViewQuery"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/ApiMetadataListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_read
            - dp:api_manage
  /devportal/v1/apis/{apiId}:
    parameters:
      - $ref: "#/components/parameters/apiId"
    get:
      tags:
        - APIs
      summary: Get API metadata
      description: Retrieves a single API metadata record by Developer Portal API ID.
      operationId: getApiMetadata
      responses:
        "200":
          $ref: "#/components/responses/ApiMetadataResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_read
            - dp:api_manage
    put:
      tags:
        - APIs
      summary: Update API metadata
      description: >-
        Updates Developer Portal API metadata and its stored definition. Accepts the same YAML spec fields and
        `apiMetadata` JSON format as the create operation. The update flow can also adjust label mappings, subscription
        plan mappings, schema definitions, and image metadata. Status changes to unpublished are rejected when active
        subscriptions exist.
      operationId: updateApiMetadata
      requestBody:
        $ref: "#/components/requestBodies/ApiMetadataMultipartBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiMetadataResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_update
            - dp:api_manage
    delete:
      tags:
        - APIs
      summary: Delete API metadata
      description: Deletes API metadata when the API has no active subscriptions.
      operationId: deleteApiMetadata
      responses:
        "200":
          $ref: "#/components/responses/TextMessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_delete
            - dp:api_manage
  /devportal/v1/subscription-plans:
    get:
      tags:
        - Subscription Plans
      summary: List subscription plans
      description: >-
        Lists subscription plans for an organization. When `name` is supplied, only the matching plan (if any) is
        returned. Plan names are unique within an organization.
      operationId: listSubscriptionPlans
      parameters:
        - in: query
          name: name
          required: false
          schema:
            type: string
          description: Filter by exact plan name. Returns an array of zero or one items.
      responses:
        "200":
          $ref: "#/components/responses/SubscriptionPlanListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:sub_plan_read
            - dp:sub_plan_manage
    post:
      tags:
        - Subscription Plans
      summary: Create subscription plans
      description: >-
        Creates one subscription plan when the request body is an object, or multiple subscription plans when the body
        is an array. Bulk creation returns a message instead of creating plans when `generateDefaultSubPlans` is
        enabled.
      operationId: addSubscriptionPlans
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionPlanBody"
      responses:
        "200":
          $ref: "#/components/responses/MessageResponse"
        "201":
          $ref: "#/components/responses/SubscriptionPlanMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:sub_plan_create
            - dp:sub_plan_manage
    put:
      tags:
        - Subscription Plans
      summary: Upsert subscription plans
      description: >-
        Upserts one subscription plan when the request body is an object, or multiple plans when the body is an array. A
        single plan update returns `200` when an existing plan is updated and `201` when a new plan is created. Bulk
        updates return a message when `generateDefaultSubPlans` is enabled.
      operationId: putSubscriptionPlans
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionPlanBody"
      responses:
        "200":
          $ref: "#/components/responses/SubscriptionPlanPutResponse"
        "201":
          $ref: "#/components/responses/SubscriptionPlanMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:sub_plan_update
            - dp:sub_plan_manage
  /devportal/v1/subscription-plans/{planId}:
    parameters:
      - $ref: "#/components/parameters/planId"
    get:
      tags:
        - Subscription Plans
      summary: Get a subscription plan
      operationId: getSubscriptionPlan
      description: Retrieves a single subscription plan by `planId`.
      responses:
        "200":
          $ref: "#/components/responses/SubscriptionPlanResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:sub_plan_read
            - dp:sub_plan_manage
    delete:
      tags:
        - Subscription Plans
      summary: Delete a subscription plan
      operationId: deleteSubscriptionPlan
      description: Deletes a subscription plan by `planId`.
      responses:
        "204":
          description: Subscription plan deleted successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:sub_plan_delete
            - dp:sub_plan_manage
  /devportal/v1/apis/{apiId}/content:
    parameters:
      - $ref: "#/components/parameters/apiId"
    post:
      tags:
        - API Content
      summary: Upload API content
      description: |
        Uploads the static content package for an API.

        The `apiContent` ZIP must contain at least one of these root directories:
        - `web/` for API landing-page assets such as markdown, HTML, CSS, JavaScript, and images.
        - `docs/` for downloadable API documents.

        Use `docMetadata` to add external document links that are stored alongside uploaded documents.
        Use `imageMetadata` to map uploaded images to API image roles such as the API icon.
      operationId: createApiContent
      requestBody:
        $ref: "#/components/requestBodies/ApiContentZipMultipartBody"
      responses:
        "201":
          $ref: "#/components/responses/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_content_create
            - dp:api_content_manage
    put:
      tags:
        - API Content
      summary: Replace API content
      description: |
        Replaces or adds static content files for an existing API.

        The upload format is the same as `POST /devportal/v1/apis/{apiId}/content`.
        Existing files with the same stored `type` and `fileName` are updated; new files are created.
        Image metadata is updated only when image metadata can be resolved from the upload or request body.
      operationId: replaceApiContent
      requestBody:
        $ref: "#/components/requestBodies/ApiContentZipMultipartBody"
      responses:
        "201":
          $ref: "#/components/responses/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_content_update
            - dp:api_content_manage
    get:
      tags:
        - API Content
      summary: Get an API content file
      description: |
        Retrieves a single stored API content file.

        The `type` query parameter selects the stored content category and `fileName` selects the file
        within that category. Text files and external document links are returned as text. Image files are
        returned as binary content with a media type derived from the file extension.
      operationId: getApiContentFile
      security:
        - OAuth2Security:
            - dp:api_content_read
            - dp:api_content_manage
      parameters:
        - $ref: "#/components/parameters/apiContentTypeQuery"
        - $ref: "#/components/parameters/apiContentFileNameQuery"
      responses:
        "200":
          $ref: "#/components/responses/APIContentAssetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - API Content
      summary: Delete API content files
      description: |
        Deletes stored API content.

        Send both `type` and `fileName` to delete one file. Send only `type` to delete all stored content
        files matching that content category for the API.
      operationId: deleteApiContentFile
      parameters:
        - $ref: "#/components/parameters/apiContentTypeQuery"
        - $ref: "#/components/parameters/fileNameQuery"
      responses:
        "204":
          description: API content deleted successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_content_delete
            - dp:api_content_manage
  /devportal/v1/apis/{apiId}/docs:
    parameters:
      - $ref: "#/components/parameters/apiId"
    get:
      tags:
        - API Content
      summary: List API document file names
      description: Returns the file names of all documents uploaded for an API via the wizard.
      operationId: listApiDocs
      responses:
        "200":
          description: List of document file names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fileName:
                      type: string
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_content_read
            - dp:api_content_manage
  /devportal/v1/labels:
    post:
      tags:
        - Labels
      summary: Create a label
      description: Creates a label for the organization.
      operationId: createLabel
      requestBody:
        $ref: "#/components/requestBodies/LabelBody"
      responses:
        "201":
          description: The created label.
          headers:
            Location:
              description: URL of the created label.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:label_create
            - dp:label_manage
    get:
      tags:
        - Labels
      summary: List labels
      description: Returns all labels configured for the organization.
      operationId: listLabels
      responses:
        "200":
          $ref: "#/components/responses/LabelsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:label_read
            - dp:label_manage
  /devportal/v1/labels/{labelId}:
    get:
      tags:
        - Labels
      summary: Get a label
      description: Retrieves a single label by name.
      operationId: getLabel
      parameters:
        - $ref: "#/components/parameters/labelId"
      responses:
        "200":
          $ref: "#/components/responses/LabelResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:label_read
            - dp:label_manage
    put:
      tags:
        - Labels
      summary: Update a label
      description: Updates an existing label by name.
      operationId: updateLabel
      parameters:
        - $ref: "#/components/parameters/labelId"
      requestBody:
        $ref: "#/components/requestBodies/LabelBody"
      responses:
        "200":
          $ref: "#/components/responses/LabelResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:label_update
            - dp:label_manage
    delete:
      tags:
        - Labels
      summary: Delete a label
      description: Deletes a label by name.
      operationId: deleteLabel
      parameters:
        - $ref: "#/components/parameters/labelId"
      responses:
        "204":
          description: Label deleted successfully.
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:label_delete
            - dp:label_manage
  /devportal/v1/applications:
    get:
      tags:
        - Applications
      summary: List applications for the authenticated user
      description: Returns all applications owned by the authenticated user in the specified organization.
      operationId: listApplications
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/ApplicationListResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_read
            - dp:app_manage
    post:
      tags:
        - Applications
      summary: Create an application
      description: >-
        Creates a Developer Portal application in the specified organization. The request may be JSON, multipart form
        fields, or an application YAML file in the `application` multipart field. An `application.created` webhook
        event is published to the organization's configured webhook subscribers.
      operationId: saveApplication
      requestBody:
        $ref: "#/components/requestBodies/ApplicationMultipartBody"
      responses:
        "201":
          description: Application DTO.
          headers:
            Location:
              description: URL of the created application.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationResponse"
              example:
                id: app-12345
                name: Weather App
                description: Application used to call Weather APIs.
                appKeyMappings: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_create
            - dp:app_manage
  /devportal/v1/applications/{applicationId}:
    parameters:
      - $ref: "#/components/parameters/applicationId"
    put:
      tags:
        - Applications
      summary: Update an application
      description: >-
        Updates an application owned by the authenticated user in the specified organization. The request may be JSON,
        multipart form fields, or an application YAML file in the `application` multipart field. An `application.updated`
        webhook event is published, plus one `apikey.application_updated` event per API key currently associated with
        the application.
      operationId: updateApplication
      requestBody:
        $ref: "#/components/requestBodies/ApplicationMultipartBody"
      responses:
        "200":
          $ref: "#/components/responses/ApplicationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_update
            - dp:app_manage
    delete:
      tags:
        - Applications
      summary: Delete an application
      description: >-
        Deletes an application owned by the authenticated user. Before removing the application record the service will
        make a best-effort attempt to revoke registered OAuth clients with their respective key managers and deletes all
        stored key mappings; failures are logged as warnings and do not abort deletion. An `application.deleted`
        webhook event is published, plus one `apikey.application_updated` event (with a cleared association) per API
        key that was associated with the application.
      operationId: deleteApplication
      responses:
        "200":
          $ref: "#/components/responses/TextMessageResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_delete
            - dp:app_manage
  /devportal/v1/subscriptions:
    post:
      tags:
        - Subscriptions
      operationId: createSubscription
      summary: Create a subscription
      description: >-
        Creates a subscription for an API. The API must exist in the Developer Portal and have subscription plans
        enabled. The subscription is owned by the authenticated user.
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionCreateBody"
      responses:
        "201":
          description: Subscription DTO.
          headers:
            Location:
              description: URL of the created subscription.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResponse"
              example:
                subscriptionId: sub-12345
                apiId: api-7f4c2a6b
                subscriptionToken: a3f1e8b2c4d6e8f0a1b3c5d7e9f10b2c4d6e8f0a1b3c5d7e9f10b2c4d6e8f0a1
                subscriptionPlanName: Gold
                status: ACTIVE
                createdBy: alice@example.com
                createdAt: "2026-05-07T08:30:00Z"
        "400":
          $ref: "#/components/responses/SimpleBadRequest"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "409":
          $ref: "#/components/responses/SimpleConflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:subscription_create
            - dp:subscription_manage
    get:
      tags:
        - Subscriptions
      operationId: listSubscriptions
      summary: List subscriptions
      description: >-
        Lists subscriptions owned by the authenticated user. When `apiId` is provided, results are additionally filtered
        by the Developer Portal API ID.
      parameters:
        - $ref: "#/components/parameters/apiIdQueryOptional"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/SubscriptionListResponse"
        "404":
          description: Returned when `apiId` is provided but does not match an existing API.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleErrorResponse"
              example:
                code: "404"
                message: Not Found
                description: API not found
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:subscription_read
            - dp:subscription_manage
  /devportal/v1/subscriptions/{subId}:
    parameters:
      - $ref: "#/components/parameters/subId"
    get:
      tags:
        - Subscriptions
      operationId: getSubscription
      summary: Get a subscription
      description: Retrieves a single subscription by subscription ID.
      responses:
        "200":
          $ref: "#/components/responses/SubscriptionResponse"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:subscription_read
            - dp:subscription_manage
    put:
      tags:
        - Subscriptions
      operationId: updateSubscription
      summary: Update a subscription
      description: Updates the subscription status. Accepts only `ACTIVE` or `INACTIVE`.
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionUpdateBody"
      responses:
        "200":
          $ref: "#/components/responses/SubscriptionResponse"
        "400":
          $ref: "#/components/responses/SimpleBadRequest"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:subscription_update
            - dp:subscription_manage
    delete:
      tags:
        - Subscriptions
      operationId: deleteSubscription
      summary: Delete a subscription
      description: Deletes the subscription and returns a success message.
      responses:
        "200":
          $ref: "#/components/responses/MessageResponse"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:subscription_delete
            - dp:subscription_manage
  /devportal/v1/api-keys/generate:
    post:
      tags:
        - API Keys
      operationId: generateApiKey
      summary: Generate an API key
      description: >-
        Generates an API key stored in the Developer Portal (devportal is source of truth). The plaintext secret is
        returned once in the response and never persisted. A `apikey.generated` webhook event is published to the
        organization's configured webhook subscribers so they can register the key (e.g. with a gateway). Key names
        must match `^[a-z0-9][a-z0-9_-]{0,127}$`, and `expiresAt` must include a timezone when sent as an ISO-8601
        string.
      requestBody:
        $ref: "#/components/requestBodies/ApiKeyBody"
      responses:
        "201":
          description: Generated API key. The plaintext `key` is returned exactly once.
          headers:
            Location:
              description: URL of the generated API key resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyResponse"
              example:
                keyId: key-12345
                name: weather_prod_key
                key: ak_dGhpcyBpcyBub3QgYSByZWFsIGtleQ
                expiresAt: "2026-12-31T23:59:59Z"
                status: ACTIVE
        "400":
          $ref: "#/components/responses/SimpleBadRequest"
        "403":
          $ref: "#/components/responses/SimpleForbidden"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_create
            - dp:api_key_manage
  /devportal/v1/api-keys:
    get:
      tags:
        - API Keys
      operationId: listApiKeys
      summary: List API keys
      description: Lists API keys for an API. The `apiId` query parameter is required.
      parameters:
        - $ref: "#/components/parameters/apiIdQueryRequired"
        - $ref: "#/components/parameters/appIdQueryOptional"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/ApiKeyListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_read
            - dp:api_key_manage
  /devportal/v1/api-keys/{apiKeyId}/regenerate:
    parameters:
      - $ref: "#/components/parameters/apiKeyId"
    post:
      tags:
        - API Keys
      operationId: regenerateApiKey
      summary: Regenerate an API key
      description: >-
        Regenerates the secret for an existing API key identified by `apiKeyId`. An `apikey.regenerated` webhook
        event is published to the organization's configured webhook subscribers so they can invalidate the old
        secret (e.g. at a gateway). The new plaintext secret is returned once and never persisted.
      responses:
        "200":
          $ref: "#/components/responses/ApiKeyGenerateResponse"
        "403":
          $ref: "#/components/responses/SimpleForbidden"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "409":
          description: The key has already been revoked and cannot be regenerated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleErrorResponse"
              example:
                code: "409"
                message: Cannot regenerate a revoked key
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_update
            - dp:api_key_manage
  /devportal/v1/api-keys/{apiKeyId}/revoke:
    parameters:
      - $ref: "#/components/parameters/apiKeyId"
    post:
      tags:
        - API Keys
      operationId: revokeApiKey
      summary: Revoke an API key
      description: >-
        Revokes an existing API key. An `apikey.revoked` webhook event is published to the organization's
        configured webhook subscribers so they can immediately reject requests carrying the key (e.g. at a gateway).
      responses:
        "204":
          description: API key revoked successfully.
        "403":
          $ref: "#/components/responses/SimpleForbidden"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "409":
          description: The key has already been revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleErrorResponse"
              example:
                code: "409"
                message: Key already revoked or not found
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_revoke
            - dp:api_key_manage
  /devportal/v1/api-keys/{apiKeyId}/application:
    parameters:
      - $ref: "#/components/parameters/apiKeyId"
    put:
      tags:
        - API Keys
      operationId: associateApiKeyApplication
      summary: Associate an API key with an application
      description: >-
        Associates (or re-associates) an existing API key with an application, for analytics attribution only — it
        has no effect on the key's validity or authorization. An `apikey.application_updated` webhook event is
        published once for this key, with a payload of `{ key_id, application }`.
      requestBody:
        $ref: "#/components/requestBodies/ApiKeyApplicationBody"
      responses:
        "200":
          description: Association updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyApplicationResponse"
        "400":
          $ref: "#/components/responses/SimpleBadRequest"
        "403":
          $ref: "#/components/responses/SimpleForbidden"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "409":
          description: The key has already been revoked and cannot be associated with an application.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleErrorResponse"
              example:
                code: "409"
                message: Cannot associate a revoked key
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_update
            - dp:api_key_manage
    delete:
      tags:
        - API Keys
      operationId: removeApiKeyApplication
      summary: Remove an API key's application association
      description: >-
        Removes the application association from an API key, if any. An `apikey.application_updated` webhook event
        is published once for this key, with `application` set to `null`.
      responses:
        "204":
          description: Association removed (or none existed).
        "403":
          $ref: "#/components/responses/SimpleForbidden"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_update
            - dp:api_key_manage
  /devportal/v1/applications/{applicationId}/api-keys:
    parameters:
      - $ref: "#/components/parameters/applicationId"
    get:
      tags:
        - API Keys
      operationId: listApplicationApiKeys
      summary: List API keys associated with an application
      description: >-
        Lists all API keys (across every API) currently associated with the given application. Unlike
        `listApiKeys`, no `apiId` filter is required.
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/ApiKeyListResponse"
        "404":
          $ref: "#/components/responses/SimpleNotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:api_key_read
            - dp:api_key_manage
  /devportal/v1/views:
    post:
      tags:
        - Views
      operationId: addView
      summary: Create a view
      description: >-
        Creates a Developer Portal view for an organization and associates it with the supplied label names. If
        `name` is omitted, the service stores the view's handle as its name.
      requestBody:
        $ref: "#/components/requestBodies/ViewCreateBody"
      responses:
        "201":
          $ref: "#/components/responses/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:view_create
            - dp:view_manage
    get:
      tags:
        - Views
      operationId: getAllViews
      summary: List views
      description: Lists all views configured for the organization. Each view includes the label names attached to it.
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/ViewsResponse"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:view_read
            - dp:view_manage
  /devportal/v1/views/{viewName}:
    parameters:
      - $ref: "#/components/parameters/viewName"
    put:
      tags:
        - Views
      operationId: updateView
      summary: Update a view
      description: >-
        Updates the view display name and label associations. `addedLabels` are attached to the view and `removedLabels`
        are detached. The service returns the accepted request payload.
      requestBody:
        $ref: "#/components/requestBodies/ViewUpdateBody"
      responses:
        "200":
          $ref: "#/components/responses/ViewUpdateEchoResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:view_update
            - dp:view_manage
    get:
      tags:
        - Views
      operationId: getView
      summary: Get a view
      description: Retrieves one view by name, including the label names attached to that view.
      responses:
        "200":
          $ref: "#/components/responses/ViewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/TextMessageResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:view_read
            - dp:view_manage
    delete:
      tags:
        - Views
      operationId: deleteView
      summary: Delete a view
      description: Deletes a view by name. A missing view is returned as a not-found error.
      responses:
        "204":
          description: View deleted successfully.
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:view_delete
            - dp:view_manage
  /devportal/v1/applications/{applicationId}/generate-keys:
    parameters:
      - $ref: "#/components/parameters/applicationId"
    post:
      tags:
        - Application Keys
      operationId: generateApplicationKeys
      summary: Map an OAuth client_id to a Developer Portal application
      description: >-
        Maps an OAuth client_id — created directly in the selected key manager — to the specified application. The
        portal does not create or register OAuth clients; it only stores the client_id reference and later proxies
        token requests for it.
      requestBody:
        $ref: "#/components/requestBodies/AppKeyMappingBody"
      responses:
        "200":
          $ref: "#/components/responses/ApplicationKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_key_create
            - dp:app_key_manage
  /devportal/v1/applications/{applicationId}/oauth-keys/{keyMappingId}/generate-token:
    parameters:
      - $ref: "#/components/parameters/applicationId"
      - $ref: "#/components/parameters/keyMappingId"
    post:
      tags:
        - Application Keys
      operationId: generateOAuthKeys
      summary: Generate an OAuth access token
      description: >-
        Generates an access token for an existing application OAuth key mapping. The portal calls the Authorization
        Server token endpoint directly using the client appKeyMappings supplied in `consumerSecret`.
      requestBody:
        $ref: "#/components/requestBodies/OAuthGenerateTokenBody"
      responses:
        "200":
          $ref: "#/components/responses/OAuthTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_key_create
            - dp:app_key_manage
  /devportal/v1/applications/{applicationId}/oauth-keys/{keyMappingId}:
    parameters:
      - $ref: "#/components/parameters/applicationId"
      - $ref: "#/components/parameters/keyMappingId"
    delete:
      tags:
        - Application Keys
      operationId: revokeOAuthKeys
      summary: Remove an OAuth client_id mapping
      description: >-
        Removes the local client_id mapping for an application. This does not affect the OAuth client in the key
        manager — that client is owned and managed externally.
      responses:
        "200":
          $ref: "#/components/responses/MessageOrGenericResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:app_key_revoke
  /devportal/v1/views/{viewName}/api-flows:
    parameters:
      - $ref: "#/components/parameters/viewName"
    post:
      tags:
        - API Flows
      operationId: createApiFlow
      summary: Create an API flow
      description: >-
        Creates an API flow in the selected view. If `handle` is omitted, the service generates one from the name.
        `ARAZZO` content is parsed from JSON or YAML; invalid Arazzo content returns a bad request.
      requestBody:
        $ref: "#/components/requestBodies/APIFlowCreateBody"
      responses:
        "201":
          $ref: "#/components/responses/APIFlowCreateResponse"
        "400":
          $ref: "#/components/responses/MessageResponse"
        "409":
          $ref: "#/components/responses/MessageResponse"
        "500":
          $ref: "#/components/responses/MessageResponse"
      security:
        - OAuth2Security:
            - dp:api_flow_create
            - dp:api_flow_manage
    get:
      tags:
        - API Flows
      operationId: getAllApiFlows
      summary: List API flows
      description: Lists all API flows for the selected organization view.
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/APIFlowListResponse"
        "500":
          $ref: "#/components/responses/MessageResponse"
      security:
        - OAuth2Security:
            - dp:api_flow_read
            - dp:api_flow_manage
  /devportal/v1/views/{viewName}/api-flows/{apiFlowId}:
    parameters:
      - $ref: "#/components/parameters/viewName"
      - $ref: "#/components/parameters/apiFlowId"
    get:
      tags:
        - API Flows
      operationId: getApiFlow
      summary: Get an API flow
      description: Retrieves a single API flow by ID from the selected view.
      responses:
        "200":
          $ref: "#/components/responses/APIFlowResponse"
        "404":
          $ref: "#/components/responses/MessageResponse"
        "500":
          $ref: "#/components/responses/MessageResponse"
      security:
        - OAuth2Security:
            - dp:api_flow_read
            - dp:api_flow_manage
    put:
      tags:
        - API Flows
      operationId: updateApiFlow
      summary: Update an API flow
      description: Updates API flow metadata and content for the selected view. Duplicate handles return a conflict.
      requestBody:
        $ref: "#/components/requestBodies/APIFlowUpdateBody"
      responses:
        "200":
          $ref: "#/components/responses/MessageResponse"
        "400":
          $ref: "#/components/responses/MessageResponse"
        "404":
          $ref: "#/components/responses/MessageResponse"
        "409":
          $ref: "#/components/responses/MessageResponse"
        "500":
          $ref: "#/components/responses/MessageResponse"
      security:
        - OAuth2Security:
            - dp:api_flow_update
            - dp:api_flow_manage
    delete:
      tags:
        - API Flows
      operationId: deleteApiFlow
      summary: Delete an API flow
      description: Deletes an API flow from the selected view.
      responses:
        "200":
          $ref: "#/components/responses/MessageResponse"
        "404":
          $ref: "#/components/responses/MessageResponse"
        "500":
          $ref: "#/components/responses/MessageResponse"
      security:
        - OAuth2Security:
            - dp:api_flow_delete
            - dp:api_flow_manage
  /devportal/v1/views/{viewName}/api-flows/generate-prompt:
    parameters:
      - $ref: "#/components/parameters/viewName"
    post:
      tags:
        - API Flows
      operationId: generatePrompt
      summary: Generate an API flow agent prompt
      description: >-
        Generates the default agent prompt text for a proposed API flow using the supplied name, description, APIs, and
        view context.
      requestBody:
        $ref: "#/components/requestBodies/APIFlowPromptBody"
      responses:
        "200":
          $ref: "#/components/responses/APIFlowPromptResponse"
        "500":
          $ref: "#/components/responses/MessageResponse"
      security:
        - OAuth2Security:
            - dp:api_flow_create
            - dp:api_flow_manage
  /temp-arazzo-file:
    post:
      tags:
        - Utilities
      operationId: createTempArazzoFile
      summary: Create a temporary Arazzo file
      description: Writes supplied Arazzo YAML content to a temporary file and returns its path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TempArazzoFileRequest"
      responses:
        "200":
          $ref: "#/components/responses/TempArazzoFileResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:utility_create
            - dp:utility_manage
  /devportal/v1/key-managers:
    post:
      tags:
        - Key Managers
      summary: Create a key manager
      description: >-
        Creates a key manager configuration for the organization. Accepts either a `application/json` body or a
        `multipart/form-data` upload with a `keymanager` field containing the KeyManager YAML file. OAuth applications
        are created directly in the key manager itself, outside the portal — the portal only needs the token endpoint
        to proxy `client_appKeyMappings` token requests.
      operationId: createKeyManager
      requestBody:
        $ref: "#/components/requestBodies/KeyManagerBody"
      responses:
        "201":
          description: Key manager configuration response.
          headers:
            Location:
              description: URL of the created key manager.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyManagerResponseSchema"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:km_create
            - dp:km_manage
    get:
      tags:
        - Key Managers
      summary: List key managers
      operationId: getKeyManagers
      description: >-
        Returns all key manager configurations for the organization. Admin appKeyMappings are never included in the response. Admin use
        only.
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/KeyManagerListResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:km_read
  /devportal/v1/key-managers/discover:
    get:
      tags:
        - Key Managers
      summary: Discover available key managers
      operationId: discoverKeyManagers
      description: >-
        Returns the minimal public view of enabled key managers for developer use. Does not include admin credentials.
        Endpoint data such as tokenEndpoint is included so clients can direct token requests to the correct server.
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/KeyManagerPublicListResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:km_read
  /devportal/v1/key-managers/{kmId}:
    parameters:
      - $ref: "#/components/parameters/kmId"
    get:
      tags:
        - Key Managers
      summary: Get a key manager
      description: Retrieves a single key manager configuration by ID.
      operationId: getKeyManager
      responses:
        "200":
          $ref: "#/components/responses/KeyManagerResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:km_read
            - dp:km_manage
    put:
      tags:
        - Key Managers
      summary: Update a key manager
      description: >-
        Updates an existing key manager configuration. Accepts either a `application/json` body or a
        `multipart/form-data` upload with a `keymanager` YAML file. Only supplied fields are updated; omitted fields
        retain their stored values.
      operationId: updateKeyManager
      requestBody:
        $ref: "#/components/requestBodies/KeyManagerUpdateBody"
      responses:
        "200":
          $ref: "#/components/responses/KeyManagerResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:km_update
            - dp:km_manage
    delete:
      tags:
        - Key Managers
      summary: Delete a key manager
      description: Deletes a key manager configuration by ID.
      operationId: deleteKeyManager
      responses:
        "204":
          description: Key manager deleted successfully.
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:km_delete
            - dp:km_manage
  /devportal/v1/webhook-subscribers:
    post:
      tags:
        - Webhook Subscribers
      summary: Create a webhook subscriber
      description: >-
        Registers a webhook subscriber for the organization. Event deliveries (apikey.*, subscription.*, etc.)
        matching the subscriber's events filter are fanned out to its target URL. The `secret`, if provided, is
        encrypted at rest using AES-256-GCM.
      operationId: createWebhookSubscriber
      requestBody:
        $ref: "#/components/requestBodies/WebhookSubscriberBody"
      responses:
        "201":
          description: Webhook subscriber configuration response.
          headers:
            Location:
              description: URL of the created webhook subscriber.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscriberResponseSchema"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:webhook_subscriber_create
            - dp:webhook_subscriber_manage
    get:
      tags:
        - Webhook Subscribers
      summary: List webhook subscribers
      description: Returns all webhook subscriber configurations for the organization. Secrets are never included in the response.
      operationId: getWebhookSubscribers
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/WebhookSubscriberListResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:webhook_subscriber_read
            - dp:webhook_subscriber_manage
  /devportal/v1/webhook-subscribers/{subscriberId}:
    parameters:
      - $ref: "#/components/parameters/subscriberId"
    get:
      tags:
        - Webhook Subscribers
      summary: Get a webhook subscriber
      description: Retrieves a single webhook subscriber configuration by ID.
      operationId: getWebhookSubscriber
      responses:
        "200":
          $ref: "#/components/responses/WebhookSubscriberResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:webhook_subscriber_read
            - dp:webhook_subscriber_manage
    put:
      tags:
        - Webhook Subscribers
      summary: Update a webhook subscriber
      description: >-
        Updates an existing webhook subscriber configuration. Only supplied fields are updated; omitted fields retain
        their stored values.
      operationId: updateWebhookSubscriber
      requestBody:
        $ref: "#/components/requestBodies/WebhookSubscriberUpdateBody"
      responses:
        "200":
          $ref: "#/components/responses/WebhookSubscriberResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:webhook_subscriber_update
            - dp:webhook_subscriber_manage
    delete:
      tags:
        - Webhook Subscribers
      summary: Delete a webhook subscriber
      description: Deletes a webhook subscriber configuration by ID.
      operationId: deleteWebhookSubscriber
      responses:
        "204":
          description: Webhook subscriber deleted successfully.
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:webhook_subscriber_delete
            - dp:webhook_subscriber_manage
  /devportal/v1/webhook-subscribers/{subscriberId}/deliveries:
    parameters:
      - $ref: "#/components/parameters/subscriberId"
    get:
      tags:
        - Webhook Subscribers
      summary: List recent deliveries for a webhook subscriber
      description: Returns the most recent webhook delivery attempts for a single subscriber, newest first.
      operationId: getWebhookSubscriberDeliveries
      responses:
        "200":
          description: Recent delivery attempts for this webhook subscriber.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: "#/components/schemas/WebhookSubscriberDeliverySummary"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:webhook_subscriber_read
            - dp:webhook_subscriber_manage
  /login:
    post:
      tags:
        - Authentication
      operationId: login
      summary: Log in
      description: >-
        Authenticates against the Platform API and establishes a session cookie. The Platform API base URL must be
        configured; otherwise the service is unavailable.
      security: []
      requestBody:
        $ref: "#/components/requestBodies/LoginBody"
      responses:
        "200":
          description: Login successful. A session cookie is set.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Login successful
        "401":
          description: Invalid appKeyMappings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Invalid appKeyMappings
        "503":
          description: >-
            The Platform API is not configured, unreachable, or returned a token missing required claims.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Authentication service unavailable
  /devportal/v1/webhook-events:
    get:
      tags:
        - Webhook Events
      operationId: listWebhookEvents
      summary: List webhook events
      description: >-
        Returns a paginated list of webhook events for the organization. Each event includes a summary of its delivery
        rows. Requires dp:event_read scope.
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - DISPATCHED
              - ALL_DELIVERED
              - FAILED
          description: Filter events by status.
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          $ref: "#/components/responses/WebhookEventListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:event_read
  /devportal/v1/webhook-events/{eventId}:
    parameters:
      - $ref: "#/components/parameters/eventId"
    get:
      tags:
        - Webhook Events
      operationId: getWebhookEvent
      summary: Get a webhook event
      description: Returns a single webhook event with the full details of all its delivery rows. Requires dp:event_read scope.
      responses:
        "200":
          $ref: "#/components/responses/WebhookEventResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OAuth2Security:
            - dp:event_read
components:
  securitySchemes:
    OAuth2Security:
      type: oauth2
      description: >-
        OAuth2/OIDC access token with fine-grained Developer Portal scopes. Each operation declares the exact
        resource/action scope it requires.
      flows:
        authorizationCode:
          authorizationUrl: https://localhost:9443/oauth2/authorize
          tokenUrl: https://localhost:9443/oauth2/token
          scopes:
            dp:org_read: Read organizations.
            dp:org_create: Create organizations.
            dp:org_update: Update organizations.
            dp:org_delete: Delete organizations.
            dp:org_manage: Manage organizations (including creating, updating, and deleting).
            dp:org_content_read: Read organization layout or content.
            dp:org_content_create: Create organization layout or content.
            dp:org_content_update: Update organization layout or content.
            dp:org_content_delete: Delete organization layout or content.
            dp:org_content_manage: Manage organization layout or content.
            dp:api_read: Read API metadata.
            dp:api_create: Create API metadata.
            dp:api_update: Update API metadata.
            dp:api_delete: Delete API metadata.
            dp:api_manage: Manage API metadata.
            dp:api_content_read: Read API content.
            dp:api_content_create: Create API content.
            dp:api_content_update: Update API content.
            dp:api_content_delete: Delete API content.
            dp:api_content_manage: Manage API content.
            dp:sub_plan_read: Read subscription plans.
            dp:sub_plan_create: Create subscription plans.
            dp:sub_plan_update: Update subscription plans.
            dp:sub_plan_delete: Delete subscription plans.
            dp:sub_plan_manage: Manage subscription plans.
            dp:label_read: Read labels.
            dp:label_create: Create labels.
            dp:label_update: Update labels.
            dp:label_delete: Delete labels.
            dp:label_manage: Manage labels.
            dp:app_read: Read applications.
            dp:app_create: Create applications.
            dp:app_update: Update applications.
            dp:app_delete: Delete applications.
            dp:app_manage: Manage applications.
            dp:subscription_read: Read subscriptions.
            dp:subscription_create: Create subscriptions.
            dp:subscription_update: Update subscriptions.
            dp:subscription_delete: Delete subscriptions.
            dp:subscription_manage: Manage subscriptions.
            dp:api_key_read: Read API keys.
            dp:api_key_create: Generate API keys.
            dp:api_key_update: Regenerate API keys.
            dp:api_key_revoke: Revoke API keys.
            dp:api_key_manage: Manage API keys.
            dp:app_key_mapping_read: Read application key mappings.
            dp:app_key_mapping_create: Create application key mappings.
            dp:app_key_mapping_manage: Manage application key mappings.
            dp:view_read: Read views.
            dp:view_create: Create views.
            dp:view_update: Update views.
            dp:view_delete: Delete views.
            dp:view_manage: Manage views.
            dp:app_key_create: Generate and create application keys.
            dp:app_key_update: Update application keys.
            dp:app_key_revoke: Revoke application keys.
            dp:app_key_manage: Manage application keys.
            dp:api_flow_read: Read API flows.
            dp:api_flow_create: Create or generate API flows.
            dp:api_flow_update: Update API flows.
            dp:api_flow_delete: Delete API flows.
            dp:api_flow_manage: Manage API flows.
            dp:event_read: Read webhook events and delivery details.
            dp:utility_create: Create temporary utility files.
            dp:utility_manage: Manage utility operations.
            dp:km_read: Read key manager configurations.
            dp:km_create: Create key manager configurations.
            dp:km_update: Update key manager configurations.
            dp:km_delete: Delete key manager configurations.
            dp:km_manage: Manage key manager configurations (including creating, updating, and deleting).
            dp:webhook_subscriber_read: Read webhook subscriber configurations.
            dp:webhook_subscriber_create: Create webhook subscriber configurations.
            dp:webhook_subscriber_update: Update webhook subscriber configurations.
            dp:webhook_subscriber_delete: Delete webhook subscriber configurations.
            dp:webhook_subscriber_manage: Manage webhook subscriber configurations (including creating, updating, and deleting).
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: >-
        API key authentication. Server-side authorization should bind each key to the same fine-grained permissions used
        by OAuth2 scopes.
  parameters:
    orgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
    fileType:
      name: fileType
      in: path
      required: true
      schema:
        type: string
    apiId:
      name: apiId
      in: path
      required: true
      schema:
        type: string
        example: api-7f4c2a6b
    planId:
      name: planId
      in: path
      required: true
      schema:
        type: string
    subId:
      name: subId
      in: path
      required: true
      schema:
        type: string
    apiKeyId:
      name: apiKeyId
      in: path
      required: true
      schema:
        type: string
    eventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
      description: Webhook event identifier.
    applicationId:
      name: applicationId
      in: path
      required: true
      schema:
        type: string
        example: app-12345
    keyMappingId:
      name: keyMappingId
      in: path
      required: true
      schema:
        type: string
    kmId:
      name: kmId
      in: path
      required: true
      schema:
        type: string
        example: km-uuid-12345
      description: Key manager ID (UUID).
    subscriberId:
      name: subscriberId
      in: path
      required: true
      schema:
        type: string
        example: sub-uuid-12345
      description: Webhook subscriber ID (UUID).
    viewName:
      name: viewName
      in: path
      required: true
      schema:
        type: string
        example: default
    apiFlowId:
      name: apiFlowId
      in: path
      required: true
      schema:
        type: string
        example: flow-12345
    apiContentTypeQuery:
      name: type
      in: query
      required: true
      schema:
        type: string
        example: document
      description: >-
        Stored API content type selector. Common values are `web`, `document`, `image`, and `link`, depending on how the
        uploaded ZIP content was classified.
    apiContentFileNameQuery:
      name: fileName
      in: query
      required: true
      schema:
        type: string
        example: getting-started.md
      description: Stored API content file name to retrieve.
    fileNameQuery:
      name: fileName
      in: query
      required: false
      schema:
        type: string
        example: getting-started.md
      description: File name selector used by file retrieval and organization content deletion.
    orgContentFileNameQuery:
      name: fileName
      in: query
      required: true
      schema:
        type: string
      description: Stored organization content file name.
    orgContentFileTypeQuery:
      name: fileType
      in: query
      required: true
      schema:
        type: string
      description: Organization content file type, such as style, image, text, template, or partial.
    filePathQuery:
      name: filePath
      in: query
      required: false
      schema:
        type: string
      description: Optional relative content path used together with `fileType` and `fileName`.
    apiSearchQuery:
      name: query
      in: query
      required: false
      schema:
        type: string
        example: weather
      description: Free-text API metadata search term.
    apiNameQuery:
      name: apiName
      in: query
      required: false
      schema:
        type: string
        example: Weather API
      description: Exact API name filter.
    apiVersionQuery:
      name: version
      in: query
      required: false
      schema:
        type: string
        example: v1
      description: Exact API version filter.
    apiTagsQuery:
      name: tags
      in: query
      required: false
      schema:
        type: string
        example: weather,public
      description: Comma-separated tag names. Matches APIs tagged with any of the given names.
    apiViewQuery:
      name: view
      in: query
      required: false
      schema:
        type: string
        example: default
      description: Developer Portal view name used to filter visible APIs.
    apiIdQueryRequired:
      name: apiId
      in: query
      required: true
      schema:
        type: string
        example: api-7f4c2a6b
      description: Developer Portal API ID.
    apiIdQueryOptional:
      name: apiId
      in: query
      required: false
      schema:
        type: string
        example: api-7f4c2a6b
      description: Optional Developer Portal API ID used to filter results.
    appIdQueryOptional:
      name: appId
      in: query
      required: false
      schema:
        type: string
        example: app-12345
      description: Optional application ID used to filter API keys associated with that application.
    labelId:
      name: labelId
      in: path
      required: true
      schema:
        type: string
        example: label-12345
      description: The label ID.
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of records to return.
    offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of records to skip before returning results.
  requestBodies:
    OrganizationCreateBody:
      required: true
      description: >-
        Organization creation payload. Send JSON or an organization YAML file in the `organization` multipart field.
        When YAML is used, the service reads `metadata.name` as `handle` and `spec.displayName` as `name`; all
        other fields (including `cpRefId`) are read from `spec`. The YAML `spec` block additionally accepts
        `labels` (array of `{name, displayName}`) and `views` (array of `{handle, name, labels}`) to bootstrap
        labels and views at creation time — these are not available via the `application/json` content type.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OrganizationCreateRequest"
          example:
            name: Acme Corporation
            businessOwner: Jane Doe
            businessOwnerContact: +1-202-555-0147
            businessOwnerEmail: jane.doe@acme.example
            handle: acme
            idpRefId: ACME
        multipart/form-data:
          schema:
            type: object
            required:
              - organization
            properties:
              organization:
                type: string
                format: binary
                description: "Organization YAML file (kind: Organization)."
          examples:
            yamlFile:
              summary: Organization YAML upload
              value:
                organization: org.yaml
    OrganizationUpdateBody:
      required: true
      description: >-
        Organization update payload. Send JSON or an organization YAML file in the `organization` multipart field. When
        YAML is used, the service reads `metadata.name` as `handle` and `spec.displayName` as `name`; all other
        fields (including `cpRefId`) are read from `spec`. The YAML `spec` block additionally accepts `labels`
        (upserted by name) and `views` (upserted by handle, with `labels` replacing the view's label set) — these
        are not available via the `application/json` content type.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OrganizationUpdateRequest"
        multipart/form-data:
          schema:
            type: object
            required:
              - organization
            properties:
              organization:
                type: string
                format: binary
                description: "Organization YAML file (kind: Organization)."
          examples:
            yamlFile:
              summary: Organization YAML upload
              value:
                organization: org.yaml
    SubscriptionPlanBody:
      required: true
      description: >-
        Subscription plan payload. Send a single object for single create/upsert, or a non-empty array for bulk
        create/upsert. The service currently processes plans with `type` set to `requestcount` or `eventcount`.
        Alternatively, upload a YAML file in the `subscriptionPlan` multipart field; use `kind: SubscriptionPlan` for a
        single plan or `kind: SubscriptionPlanList` with an `items` array for bulk operations.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/SubscriptionPlanRequest"
              - type: array
                minItems: 1
                items:
                  $ref: "#/components/schemas/SubscriptionPlanRequest"
        multipart/form-data:
          schema:
            type: object
            properties:
              subscriptionPlan:
                type: string
                format: binary
                description: >-
                  Subscription plan YAML file. Use `kind: SubscriptionPlan` for a single plan or `kind:
                  SubscriptionPlanList` (with an `items` array) for bulk operations.
          examples:
            singlePlan:
              summary: Single subscription plan YAML upload
              value:
                subscriptionPlan: plan.yaml
            planList:
              summary: Bulk subscription plan YAML upload
              value:
                subscriptionPlan: plans.yaml
    LabelBody:
      required: true
      description: Label payload.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LabelRequest"
          example:
            name: premium
            displayName: Premium APIs
    SubscriptionCreateBody:
      required: true
      description: Subscription creation payload. `apiId` is the Developer Portal API ID.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubscriptionCreateRequest"
          example:
            apiId: api-7f4c2a6b
            subscriptionPlanId: pol-7f4c2a6b
    SubscriptionUpdateBody:
      required: true
      description: Subscription status update payload.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubscriptionUpdateRequest"
          example:
            status: ACTIVE
    ApiKeyBody:
      required: true
      description: >-
        API key payload. `apiId` is the Developer Portal API ID. `name` must be lowercase and may contain numbers,
        underscores, and hyphens. `expiresAt` can be an ISO-8601 datetime with timezone, epoch seconds, or epoch
        milliseconds.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiKeyRequest"
          examples:
            expiringKey:
              summary: Generate an expiring key
              value:
                apiId: api-7f4c2a6b
                name: weather_prod_key
                expiresAt: "2026-12-31T23:59:59Z"
            nonExpiringKey:
              summary: Generate a key without expiry
              value:
                apiId: api-7f4c2a6b
                name: weather_sandbox_key
    ApiKeyApplicationBody:
      required: true
      description: Associates an API key with an application, identified by `appId`.
      content:
        application/json:
          schema:
            type: object
            required:
              - appId
            properties:
              appId:
                type: string
                example: app-12345
            additionalProperties: false
          example:
            appId: app-12345
    AppKeyMappingBody:
      required: true
      description: >-
        Maps an OAuth client_id — created directly in the key manager — to this application. The application is
        identified by the `applicationId` path parameter.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppKeyMappingRequest"
          examples:
            mapResidentOAuthClient:
              summary: Map an existing OAuth client_id using the resident key manager
              value:
                keyManager: Resident Key Manager
                type: PRODUCTION
                consumerKey: consumer-key-123
    ViewCreateBody:
      required: true
      description: View creation payload with the label names that should be visible in the view.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ViewCreateRequest"
          examples:
            partnerView:
              summary: Create a partner APIs view
              value:
                handle: partner-apis
                name: Partner APIs
                labels:
                  - partner
                  - public
            internalView:
              summary: Create a view using the handle as name
              value:
                handle: internal-apis
                labels:
                  - internal
    ViewUpdateBody:
      required: true
      description: View update payload. Include only the name or label changes that should be applied.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ViewUpdateRequest"
          examples:
            renameAndRelabel:
              summary: Rename a view and adjust labels
              value:
                name: Partner and Public APIs
                addedLabels:
                  - premium
                removedLabels:
                  - internal
            addLabelsOnly:
              summary: Add labels without renaming
              value:
                addedLabels:
                  - beta
    OAuthGenerateTokenBody:
      required: false
      description: OAuth token generation payload. The portal calls the Authorization Server token endpoint directly.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OAuthGenerateTokenRequest"
          example:
            scopes:
              - weather.read
            validityPeriod: 3600
    KeyManagerBody:
      description: >-
        Key manager configuration payload. Submit as `application/json` or as `multipart/form-data` with a `keymanager`
        field containing a KeyManager YAML file.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KeyManagerRequest"
          example:
            name: Asgardeo
            type: ASGARDEO
            enabled: true
            tokenEndpoint: https://api.asgardeo.io/t/myorg/oauth2/token
        multipart/form-data:
          schema:
            type: object
            properties:
              keymanager:
                type: string
                format: binary
                description: KeyManager YAML file.
    WebhookSubscriberBody:
      description: Webhook subscriber configuration payload.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WebhookSubscriberRequest"
          example:
            name: Production Gateway
            url: https://gateway.example.com/devportal-webhook
            secret: <shared-secret>
            events:
              - apikey.*
              - subscription.*
            enabled: true
            timeoutMs: 5000
    WebhookSubscriberUpdateBody:
      description: Webhook subscriber update payload. All fields are optional; only supplied fields are updated.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WebhookSubscriberRequest"
    KeyManagerUpdateBody:
      description: >-
        Key manager update payload. All fields are optional; only supplied fields are updated. Submit as
        `application/json` or as `multipart/form-data` with a `keymanager` field containing a KeyManager YAML file.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/KeyManagerUpdateRequest"
          example:
            enabled: false
            tokenEndpoint: https://api.asgardeo.io/t/myorg/oauth2/token
        multipart/form-data:
          schema:
            type: object
            properties:
              keymanager:
                type: string
                format: binary
                description: KeyManager YAML file with partial update fields.
    APIFlowCreateBody:
      required: true
      description: >-
        API flow creation payload. Use `contentType` `ARAZZO` for JSON/YAML workflow content or `MD` for Markdown flow
        content.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIFlowCreateRequest"
          examples:
            arazzoFlow:
              summary: Create an Arazzo API flow
              value:
                name: Weather onboarding
                handle: weather-onboarding
                description: Guides users through the Weather API onboarding workflow.
                contentType: ARAZZO
                apiFlowDefinition:
                  arazzo: 1.0.1
                  info:
                    title: Weather onboarding
                    version: 1.0.0
                  workflows: []
            markdownFlow:
              summary: Create a Markdown API flow
              value:
                name: Weather guide
                description: Human-readable guide for Weather API users.
                contentType: MD
                markdownContent: |-
                  # Weather guide
                  Use this flow to onboard Weather API users.
    APIFlowUpdateBody:
      required: true
      description: API flow update payload. Include only the fields that should change.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIFlowUpdateRequest"
          example:
            name: Weather onboarding v2
            status: PUBLISHED
            agentVisibility: VISIBLE
    APIFlowPromptBody:
      required: true
      description: API flow prompt-generation payload.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIFlowPromptRequest"
          example:
            name: Weather onboarding
            description: Guides users through the Weather API onboarding workflow.
            orgHandle: acme
            viewName: default
            handle: weather-onboarding
            apis:
              - name: Weather API
                version: v1
    LoginBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LoginRequest"
    FileUploadBody:
      required: true
      description: ZIP file upload. Organization content uploads are limited to 50 MB.
      content:
        multipart/form-data:
          schema:
            type: object
            required:
              - file
            properties:
              file:
                type: string
                format: binary
                description: ZIP file containing organization layout assets.
    ApiMetadataMultipartBody:
      required: true
      description: >-
        API metadata upload. Send either `artifact`, or `api` with `apiDefinition`, or `apiMetadata` with
        `apiDefinition`. `schemaDefinition` is used for MCP APIs and GraphQL schema updates.
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              api:
                type: string
                format: binary
                description: API metadata YAML file.
              apiDefinition:
                type: string
                format: binary
                description: API definition file.
              artifact:
                type: string
                format: binary
                description: Full API ZIP artifact containing metadata and definition files.
              schemaDefinition:
                type: string
                format: binary
                description: Schema definition file, used by MCP APIs.
              apiMetadata:
                type: string
                description: >-
                  JSON string accepted by the service when the `api` YAML file is not supplied. Accepted top-level
                  fields mirror the YAML spec: `apiInfo` (name, version, description, type,
                  agentVisibility, status, referenceId, handle, tags, labels,
                  owners), `endPoints` (productionURL, sandboxURL), and `subscriptionPlans` (array of `{
                  handle }` objects — only `handle` is read; the plan must already exist in the organization).
                example: >-
                  {"apiInfo":{"name":"Weather API","version":"v1","description":"Weather forecast
                  API","type":"REST","agentVisibility":"VISIBLE",
                  "status":"PUBLISHED","tags":["weather"],"labels":["default"]},"endPoints":{
                  "productionURL":"https://api.example.com/weather",
                  "sandboxURL":"https://sandbox.example.com/weather"},"subscriptionPlans":[{"handle":"Gold"}]}
    ApiContentZipMultipartBody:
      required: true
      description: |
        API content ZIP upload.

        Expected ZIP structure:
        - `web/`: optional API landing-page files and images.
        - `docs/`: optional downloadable documents.

        At least one of `web/` or `docs/` must exist at the ZIP root.
        `docMetadata` and `imageMetadata` are JSON strings because they are submitted as multipart form fields.
      content:
        multipart/form-data:
          schema:
            type: object
            required:
              - apiContent
            properties:
              apiContent:
                type: string
                format: binary
                description: ZIP upload field named `apiContent`.
              docMetadata:
                type: string
                description: Optional JSON string containing API document link metadata.
                example: "[{\"name\":\"External guide\",\"url\":\"https://example.com/docs/guide\",\"type\":\"LINK\"}]"
              imageMetadata:
                type: string
                description: Optional JSON string containing API image metadata.
                example: "{\"api-icon\":\"icon.png\"}"
    ApplicationMultipartBody:
      required: true
      description: >-
        Application payload. Send JSON, multipart form fields, or an application YAML file in the `application` field.
        When YAML is used, the service reads `spec.displayName` or `metadata.name` as the application name and
        `spec.description` as the description.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApplicationRequest"
          example:
            name: Weather App
            description: Application used to call Weather APIs.
        multipart/form-data:
          schema:
            type: object
            properties:
              application:
                type: string
                format: binary
                description: Application YAML file field named `application`.
              name:
                type: string
                description: Application name when sending form fields instead of YAML.
              description:
                type: string
          examples:
            formFields:
              summary: Multipart form fields
              value:
                name: Weather App
                description: Application used to call Weather APIs.
            yamlFile:
              summary: Application YAML upload
              value:
                application: application.yaml
  responses:
    DefaultResponse:
      description: Operation response. The exact schema is produced by the route handler.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GenericValue"
    OrganizationResponse:
      description: Organization DTO returned by create, update, and lookup operations.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/OrganizationResponse"
    OrganizationListResponse:
      description: List of organization DTOs.
      content:
        application/json:
          schema:
            type: object
            properties:
              list:
                type: array
                items:
                  $ref: "#/components/schemas/OrganizationResponse"
              pagination:
                $ref: "#/components/schemas/Pagination"
    OrganizationContentUploadResponse:
[...]
