
[analytics]
enabled = false

[[analytics.publishers]]
type = "moesif"
enabled = true

[analytics.publishers.settings]
application_id = "<MOESIF_APPLICATION_ID>"

[gateway_controller.router]
gateway_host = "*"

[gateway_controller.router.access_logs]
enabled = true

[gateway_controller.auth.basic]
enabled = true

[[gateway_controller.auth.basic.users]]
username = "admin"
password = "admin"
roles = ["admin"]

# Remove policy_configurations once the issue is resolved: https://github.com/wso2/api-platform/issues/564
[policy_configurations.ratelimit_v010]
algorithm = "fixed-window"
backend = "memory"

[policy_configurations.ratelimit_v010.memory]
max_entries = 10000
cleanup_interval = "5m"

[policy_configurations.ratelimit_v010.headers]
include_x_rate_limit = true
include_ietf = true
include_retry_after = true
