<head>
  <link rel="stylesheet" href="/technical-styles/alert.css" />
  <script src="/technical-scripts/alert.js" defer></script>
</head>

<div id="alertToast" class="alert-toast alert-toast-hidden">
  <i class="alert-icon bi"></i>
  <p class="alert-toast-message"></p>
</div>
