{{#pageHead}}
  <link rel="stylesheet" href="/technical-styles/alert.css" />
{{/pageHead}}
{{#pageScripts}}
  <script src="/technical-scripts/alert.js" defer></script>
{{/pageScripts}}

<div id="alertToast" class="alert-toast alert-toast-hidden" role="status" aria-live="polite" aria-atomic="true">
  <i class="alert-icon bi"></i>
  <p class="alert-toast-message"></p>
</div>
