---
# Example 1: API with explicit gateway references (multiple gateways)
apiVersion: gateway.api-platform.wso2.com/v1alpha1
kind: RestApi
metadata:
  name: api-with-gateway-refs
  labels:
    environment: "production"
    team: "platform"
    tier: "stable"
spec:
  displayName: test-api
  version: v1.0
  context: /test
  upstream:
    main:
      url: https://httpbin.org/anything
  # policies:
  #   - name: jwt-auth
  #     version: v0
  #     params:
  #       issuers:
  #         - WSO2KeyManager1
  operations:
    - method: GET
      path: /info
    - method: POST
      path: /submit
    - method: GET
      path: /helloworld
    - method: GET
      path: /heyhelloworld


---
# Example 1: API with explicit gateway references (multiple gateways)
apiVersion: gateway.api-platform.wso2.com/v1alpha1
kind: RestApi
metadata:
  name: api-with-gateway-refs-1
  labels:
    environment: "production"
    team: "platform"
    tier: "stable"
spec:
  displayName: test-api-1
  version: v1.0
  context: /ssa
  upstream:
    main:
      url: https://secure-backend:5443/api/v2
  # policies:
  #   - name: jwt-auth
  #     version: v0
  #     params:
  #       issuers:
  #         - WSO2KeyManager1
  operations:
    - method: GET
      path: /info
    - method: POST
      path: /submit
    - method: GET
      path: /helloworld
    - method: GET
      path: /heyhelloworld