apiVersion: api.api-platform.wso2.com/v1alpha1
kind: ComponentType
metadata:
  name: apiproxy
  namespace: default
spec:
  workloadType: deployment

  schema:
    types:
      Resources:
        cpu: "string | default=100m"
        memory: "string | default=256Mi"

    parameters:
      replicas: "integer | default=1"
      imagePullPolicy: "string | default=IfNotPresent"
      port: "integer | default=80"

    envOverrides:
      resources:
        requests: Resources
        limits: Resources

  resources:
    - id: deployment
      template:
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: ${metadata.name}
          namespace: ${metadata.namespace}
          labels: ${metadata.labels}
        spec:
          replicas: ${parameters.replicas}
          selector:
            matchLabels: ${metadata.podSelectors}
          template:
            metadata:
              labels: ${metadata.podSelectors}
            spec:
              containers:
                - name: app
                  image: ${workload.containers["app"].image}
                  imagePullPolicy: ${parameters.imagePullPolicy}
                  ports:
                    - name: http
                      containerPort: ${parameters.port}
                      protocol: TCP
                  resources:
                    requests:
                      cpu: ${parameters.resources.requests.cpu}
                      memory: ${parameters.resources.requests.memory}
                    limits:
                      cpu: ${parameters.resources.limits.cpu}
                      memory: ${parameters.resources.limits.memory}

    - id: service
      template:
        apiVersion: v1
        kind: Service
        metadata:
          name: ${metadata.name}
          namespace: ${metadata.namespace}
          labels: ${metadata.labels}
        spec:
          type: ClusterIP
          selector: ${metadata.podSelectors}
          ports:
            - name: http
              port: 80
              targetPort: ${parameters.port}
              protocol: TCP
    - id: api-configuration
      template:
        apiVersion: api.api-platform.wso2.com/v1
        kind: APIConfiguration
        metadata:
          name: ${metadata.name}
          namespace: ${metadata.namespace}
          labels: ${metadata.labels}
        spec:
          apiConfiguration:
            version: api-platform.wso2.com/v1
            kind: http/rest
            data:
              name: hello
              version: v1
              context: v111
              upstream:
                - url: "http:loalhost:8080"
              operations:
                - method: GET
                  path: /{country_code}/{city}
                - method: POST
                  path: /{country_code}/{city}
    - id: httproute
      template:
        apiVersion: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        metadata:
          name: ${metadata.name}
          namespace: ${metadata.namespace}
          labels: ${metadata.labels}
        spec:
          parentRefs:
            - name: gateway-external
              namespace: gateway-operator-data-plane
          hostnames:
            - ${metadata.name}-${environment.name}.${environment.vhost}
          rules:
          - matches:
            - path:
                type: PathPrefix
                value: /${metadata.name}
              method: GET
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
            - name: ${metadata.name}
              port: 80

---
apiVersion: api.api-platform.wso2.com/v1alpha1
kind: Component
metadata:
  name: apiproxycomponent
  namespace: default
spec:
  owner:
    projectName: default

  componentType: deployment/apiproxy

  parameters:
    replicas: 2
    port: 9090
    resources:
      requests:
        cpu: "200m"
        memory: "512Mi"
      limits:
        cpu: "1000m"
        memory: "1Gi"
---
apiVersion: api.api-platform.wso2.com/v1alpha1
kind: Workload
metadata:
  name: apiproxyworkload
  namespace: default
spec:
  owner:
    projectName: default
    componentName: apiproxycomponent

  containers:
    app:
      image: "ghcr.io/gateway-operator/samples/greeter-service:latest"
      args:
        - --port
        - "9090"

---
apiVersion: api.api-platform.wso2.com/v1alpha1
kind: ComponentDeployment
metadata:
  name: apiproxycomponentdeployment
  namespace: default
spec:
  owner:
    projectName: default
    componentName: apiproxycomponent

  environment: development

  overrides:
    resources:
      requests:
        cpu: "50m"
        memory: "128Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"