on:
  issues:
    types: [opened]
jobs:
  apply-label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v4
        with:
          script: |
            var body = context.payload.issue.body
            var words = body.split(/[\s,]+/g);
            for (var i = 0; i < words.length; i++) {
                var word = words[i]
                if(word.startsWith('Area/')) {
                    var label = word
                    console.log(label)
                    github.issues.addLabels({
                      issue_number: context.issue.number,
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      labels: [label]
                     }) 
                } else if (word.startsWith('Aspect/')) {
                    var label = word
                    console.log(label)
                    github.issues.addLabels({
                      issue_number: context.issue.number,
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      labels: [label]
                    })
                } else if (word.startsWith('Severity/')) {
                    var label = word
                    console.log(label)
                    github.issues.addLabels({
                      issue_number: context.issue.number,
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      labels: [label]
                    })
                }
            }
