name: Jfrog Scan
on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"
jobs:
  scan-images:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
            JF_URL: ${{ secrets.JF_URL }}
            JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      - name: Scan Policy Engine
        shell: sh
        run: |
          docker pull ghcr.io/wso2/api-platform/policy-engine:latest
          jf docker scan ghcr.io/wso2/api-platform/policy-engine:latest
      - name: Scan Gateway Controller
        shell: sh
        run: |
          docker pull ghcr.io/wso2/api-platform/gateway-controller:latest
          jf docker scan ghcr.io/wso2/api-platform/gateway-controller:latest
      - name: Scan Gateway Router
        shell: sh
        run: |
          docker pull ghcr.io/wso2/api-platform/gateway-router:latest
          jf docker scan ghcr.io/wso2/api-platform/gateway-router:latest
      - name: Scan Gateway Builder
        shell: sh
        run: |
          docker pull ghcr.io/wso2/api-platform/gateway-builder:latest
          jf docker scan ghcr.io/wso2/api-platform/gateway-builder:latest
      - name: Scan Gateway Operator
        shell: sh
        run: |
          docker pull ghcr.io/wso2/api-platform/gateway-operator:0.0.1
          jf docker scan ghcr.io/wso2/api-platform/gateway-operator:0.0.1
    